body {
  margin: 0;
  font-family: "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}